.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  object-fit: contain;
}

button {
  background-color: white;
  border: none;
}

a {
  text-decoration: none;
}


.div {
  max-width: 75%;
  margin: 0 auto;
}

.div-26{
  max-height: 20%;
}

.div-164 {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;

}


.div-26 {
  max-height: 200px;
}
.fWWHWe {
  margin: 0px;
}
.sc-bdnyFh  {
  margin: 0px;
}

.div-43 {
  width: 200px;
}

img {
  max-width: 100%;
}
.sc-bdnyFh.ftqDGf {
  width: 100%;
}